.home-container {
  position: relative;
  width: 100%;
}

.welcome-container {
  position: absolute;
  top: 20px; /* Ajusta este valor según sea necesario */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 10; /* Asegura que el texto esté por encima del carrusel */
}

.welcome-title {
  color: whitesmoke;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}

.spacer {
  height: 200px;
}

.welcome-button {
  background-color: #007bff;
  color: whitesmoke;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.welcome-button:hover {
  background-color: #0056b3;
}

.custom-carousel {
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  transition: transform 0.5s ease; /* Animación suave */
}

/* Efecto de hover */
.custom-carousel:hover {
  transform: scale(1.02); 
}

.img-carousel {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container {
  height: 400px;
  object-fit: cover;
}

.text-light {
  color: whitesmoke;
}

.sucursal-container {  
  text-align: center;
}

.sucursal-title {
  margin-top: 20px; 
  color: whitesmoke;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}

.footer-container {
  position: absolute;
  text-align: center;
  height: 500px;
  width: 100%;
  background-color: rgb(224, 224, 224);
}

.img-profile {
  max-width: 210px;
  max-height: 210px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 25px
}